<!DOCTYPE html>
<html>
<head>
    <title>Explicit Loading</title>
</head>
<body>
    <h1>Explicit Loading</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.name }}:
                <ul>
                    {% for car in user.cars_list %}
                        <li>{{car.brand}} {{ car.model }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="/"><button>Return to Home</button></a>
</body>
</html>
